@font-face
  font-family: 'Avenir-Medium'
  src: url("~@fonts/Avenir-Medium.ttf")

@font-face
  font-family: 'Avenir-MediumOblique'
  src: url("~@fonts/Avenir-MediumOblique.ttf")

@font-face
  font-family: 'Avenir-Heavy'
  src: url("~@fonts/Avenir-Heavy.ttf")

@font-face
  font-family: 'Avenir-HeavyOblique'
  src: url("~@fonts/Avenir-HeavyOblique.ttf")

$base-font = 'Avenir-Medium'
$title-font = 'Avenir-Heavy'
